# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [ ]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [ ]:
A CSV (Comma-Separated Values) file is a simple, widely used file format for storing and exchanging tabular data

### Load the data set "cars_data" through Pandas.

In [4]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_för_ai\kunskapskontroll_1\cars_data.csv')

NameError: name 'pd' is not defined

### Create a plot of the function y = x^2 [from -4 to 4, hint use the np.linspace function] both in the object-oriented approach and the pyplot approach. Your plot should have a title and axis-labels.

### Print the first 10 rows of the data.

In [3]:
# Display the first 10 rows
print(cars.head(10))

NameError: name 'cars' is not defined

### Print the last 5 rows.

In [ ]:
# Print the last 5 rows
print(cars.tail(5))

### By using the info method, check how many non-null rows each column have.

In [ ]:
# Display the info summary
cars.info()

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [5]:
# Drop rows with missing values (inplace)
cars.dropna(inplace=True)

# Print the updated DataFrame
print(cars)

NameError: name 'cars' is not defined

### Calculate the mean of each numeric column.

In [6]:
# Calculate the mean of each numeric column
numeric_means = cars.mean(numeric_only=True)

# Print the result
print(numeric_means)

NameError: name 'cars' is not defined

### Select the rows where the column "company" is equal to 'honda'.

In [ ]:
# Filter rows where the company column is equal to 'honda'
honda_cars = cars[cars['company'] == 'honda']

# Print the result
print(honda_cars)

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [ ]:
# Sort the data by price in descending order
sorted_cars = cars.sort_values(by='price', ascending=False)

# Print the result
print(sorted_cars)

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [ ]:
# Filter rows where the company column is in the specified list of values
selected_cars = cars[cars['company'].isin(['audi', 'bmw', 'porsche'])]

# Print the result
print(selected_cars)

### Find the number of cars (rows) for each company.

In [ ]:
# Group by company and count the rows
car_counts = cars.groupby('company').size()

# Print the result
print(car_counts)

### Find the maximum price for each company.

In [ ]:
# Group by company and find the maximum price for each
max_prices = cars.groupby('company')['price'].max()

# Print the result
print(max_prices)